html, body, #main {
    height: 100%;
}

body {
  background-image: url('background.jpg');
	background-size: cover;
}

.main-title {
	margin-bottom: 50px;
	font-size: 450%;
	color: #eee;
}

label {
  color: #eee;
	font-weight: normal;
}

.vertical-align {
	position: absolute;
  top: 40%;
  transform: translateY(-40%);
	width: 100%;
}

#randomize {
  margin-top: 50px;
}

.center {
  text-align: center;
}
